* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Global Shortcuts */

.container {
  max-width: 1200px;
  margin: auto;
  padding-top: 90px;
  margin-bottom: 70px;
  display: flex;
  position: relative;
}

.align-items-center {
  align-items: center!important;
}

.justify-content-center {
  justify-content: center!important;
}

.d-flex {
  display: flex!important;
}

.center-text {
  text-align: center;
  font-size: 17.5px;
  margin: 5px 0 8px;
  line-height: 30px;
}

/* Discord Join Link */
.discord-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  width: auto;
  margin: 0 115px;
  padding: 0 12px;
  border-bottom: 1px solid #d7eaff;
}

.discord-wrapper-btn img {
  padding-left: 3px;
}

.discord-wrapper-txt {
  margin-right: 10px;
  vertical-align: middle;
  color: black;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 10;
  font-family: "SF Pro Display", sans-serif;
}

.discord-wrapper-btn {
  display: flex;
  padding: 8px 10px;
  align-items: center;
  border-radius: 50rem;
  border: 1px solid rgb(209, 209, 209);
  text-align: center;
  background-color: rgb(233, 233, 233);
  color: rgb(143, 143, 143);
  cursor: pointer;
  font-family: "SF Pro Display", sans-serif;
}

/* Header */

.menu {
  margin: auto;
  padding-left: 0;
  list-style: none;
  max-width: 90%;
  padding: 21px 15px !important;
  font-size: 14px;
}
.menu a,
li {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 200;
}
.menu a:hover {
  text-decoration: underline;
}

.menu a.active {
  color: blue;
}
.menu a {
  text-align: center;
  padding: 10px;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.column {
  display: flex;
  align-items: center;
}
.BUTTON-ADD {
  background-color: rgb(53, 151, 255);
  border-radius: 10px;
  padding: 20px;
  font-size: 10px;
  color: #fff;
}

/* Content Image */

.image-wrapper {
  margin-left: 60px;
}

.text-wrapper {
  max-width: 500px;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

.text-wrapper h1 {
  font-size: 40px;
}

.text-wrapper h4 {
  font-size: 16px;
  line-height: 30px;
}

.why-becoming-student-wrapper h4 {
  color: grey;
}

.why-becoming-student-wrapper {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}

.blue-wrapper {
  background-color: rgb(53, 151, 255);
}

.preco-sa-stat-studentom-wrapper h1 {
  font-weight: 300;
  font-size: 40px;
}

.preco-sa-stat-studentom-wrapper h4 {
  margin-top: 60px;
}

/* Boxes */



.boxes_info div img {
  margin-bottom: 20px;
}

.boxes_info {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 233px;
  height: 183px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box {
  margin-top: 50px;
}

.main-box p {
  max-width: 80%;
}
/* Vision */

.wrapper-center-vision {
  display: flex;
  justify-content: center;
}

.vision-wrapper {
  margin-top: 100px;
  max-width: 90%;
  justify-content: space-around;
}

.vision-text {
  width: 50%;
  margin-top: 50px;
}

.vision-text h3 {
  font-size: 40px;
}

.vision-text p {
  font-size: 20px;
}

.row {
  display: flex;
}

.vision-card1 {
  color: #5d94d7;
  background-color: rgba(221, 236, 251, 0.4);
  padding: 40px 20px 5px 150px;
  margin: 10px;
  width: 100px;
}
.vision-card2{
  color: #5cc19a;
  background-color: rgba(156, 238, 204, 0.4);
  padding: 40px 20px 5px 150px;
  margin: 10px;
  width: 100px;
}

.vision-card3 {
  color: #dbca68;
  background-color: rgba(238, 226, 156, 0.4);
  padding: 40px 20px 5px 150px;
  margin: 10px;
  width: 100px;
}

.vision-card4 {
  color: #b95e73;
  background-color: rgba(238, 156, 156, 0.4);
  padding: 40px 20px 5px 150px;
  margin: 10px;
  width: 100px;
}

.vision-number {
  font-size: 90px;
  margin: 0px;
  font-weight: bold;
  display: flex;
  justify-content: end;
}

.vision-type {
  font-size: 18px;
  font-weight: bold;
  display: flex !important;
  justify-content: flex-end !important;
}

/* Which Type in Openlab */

.study-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.study-wh {
  padding-top: 80px;
  font-size: 30px;
  max-width: 400px;
}

.wh-text {
  height: 160px;
}

.study-hybrid {
  max-width: 150px;
  cursor: pointer;
}

.study-games {
  max-width: 150px;
  cursor: pointer;
}

.study-app {
  max-width: 150px;
  cursor: pointer;
}

.wh-cards {
  padding: 30px;
  border-radius: 5%;
  margin: 30px;
  justify-content: center;
}

.wh-cards:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* In which schools */

.school-types {
  justify-content: center;
  margin-top: 150px;
}

.school-text {
  text-align: center;
}

.school-image1 {
  justify-content: center;
  width: 300px;
  height: 150px;
}

.school-image2 {
  justify-content: center;
  width: 300px;
  height: 150px;
}
